h1{
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 40px;
    margin-top: 50px;
    color: white;
}
.office{
    background-color: burlywood;
    color:slateblue;
    margin-top: 50px;
    margin: 50px 300px 50px 300px;
    padding: 30px 20px 30px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.phone{
    background-color: burlywood;
    color:slateblue;
    margin-top: 50px;
    margin: 50px 300px 50px 300px;
    padding: 30px 20px 30px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.office h2{
    text-transform: uppercase;
}
.phone h2{
    text-transform: uppercase;
}